%aside.bottomBanner
  .bottomBanner__content
    %h2.bottomBanner__subtitle
      だれでもかんたん、人生を変えるフリマアプリ
    %p.bottomBanner__message
      今すぐ無料ダウンロード！
    .dlButton
      %a.dlButton__apple
        =image_tag('icon/appledownloadicon.svg', alt: "appstoreのアイコン")
      %a.dlButton__google
        =image_tag('icon/googledownloadicon.png', alt: "GooglePlayのアイコン")