#items-index, #items-show, #items-edit, #items-new, #items-create {
  position: relative;
  @mixin app-g__icon {
    &__apple {
      width: 180px;
      margin-right: 10px;
      margin-top: 15px;
      &:hover {
        opacity: 0.5;
      }
      img {
        width: 100%;
      }
    }
    &__google {
      width: 230px;
      &:hover {
        opacity: 0.5;
      }
      img {
        width: 100%;
      }
    }
  }
  
  img {
    width: 100%;
    vertical-align: bottom;
  }
  
  .header {
    padding: 0 60px;
    &__content {
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      padding: 15px 0 0;
      &--upper {
        display: flex;
        h1 {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          a {
            width: 140px;
            display: block;
            img {
              width: 100%;
            }
          }
          
        }
        .header__upper--search {
          width: 100%;
          display: flex;
          form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            align-items: center;
            input {
              width: calc(100% - 26px);
              height: 36px;
              padding: 0 0 0 5px;
              display: flex;
            }
          }
          button {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            height: 36px;
            display: block;
            .searchButton {
              img {
                width: 100%;
                vertical-align: bottom;
              }
            }
            &:hover {
              opacity: 80%;
            }
          }
        }
      }
      &--bottom {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
        ul.bottom-left {
          display: flex;
          li {
            padding-right: 30px;
            a {
              text-decoration: none;
              color: #333;
              line-height: 32px;
              display: block;
              &:hover {
                color: #ca7a39;
              }
            }
          }
          li.header__bottom--brand {
            padding-left: 16px;
          }
        }
        ul.bottom-right {
          display: flex;
          li {
            padding-left: 16px;
            a {
              display: block;
              text-decoration: none;
              color: #333;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
  .page {
    background-color: #f8f8f8;
    &__content {
      padding: 30px 40px;
      .item {
        margin: 0 auto;
        max-width: 750px;
        text-align: center;
        &__content {
        background-color: #fff;
          padding: 20px 40px;
          &--subtitle {
            font-size: 30px;
            font-weight: bold;
          }
          &--image {
            align-items: center;
            .image__big {
              width: 50%;
              margin: 0 auto;
            }
            .image__small {
              width: 20%;
              margin: 0 auto;
            }
          }
          &--price {
            font-size: 50px;
            font-weight: bold;
          }
          &--description {
            margin: 20px 0;
          }
          &--table {
            table {
              font-size: 13px;
              width: 100%;
              tr {
                height: 50px;
                th {
                  background-color: #eee;
                  text-align: center;
                  border: 1px solid #cecdcd;
                  width: 20%;
                  padding: 8px;
                }
                td {
                  border: 1px solid #cecdcd;
                  text-align: left;
                  padding: 15px 15px;
                  width: 60%;
                }
                td.colorBlue {
                  color: #3cc9ce;
                }
              }
            }
          } 
        }
        &__buttons {
          background-color: #fff;
          display: flex;
          justify-content: space-between;
          padding: 30px 0;
          &--likeButton {
            border: 1px solid #ffb33f;
            border-radius: 40px;
            padding: 10px;
            a {
              text-decoration: none;
              color:  #3CCACE;
              display: block;
              &:hover {
                opacity: 0.5;
              }
            }
          }
          &--reportButton {
            border: 1px solid #333;
            border-radius: 5px;
            padding: 10px;
            a {
              text-decoration: none;
              color: #333;
              display: block;
              &:hover {
                opacity: 0.5;
              }
            }
          }
    
        }
        &__comment {
          background-color: #fff;
          margin: 0 auto;
          max-width: 750px;
          text-align: center;
          margin-top: 10px;
          form {
            padding: 20px 30px;
            textarea {
              width: 100%;
              height: 100px;
            }
            p {
              margin: 10px 0 20px 0;
              padding: 10px 5px;
              font-size: 13px;
              background-color: #f8f8f8;
              text-align: left;
            }
            button {
              border: 1px solid #3CCACE;
              background-color: #3CCACE;
              border-radius: 40px;
              padding: 10px 20px;
              width: 400px;
              a {
                color: #fff;
                text-decoration: none;
                display: block;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
    
        &__select {
          margin: 0 auto;
          max-width: 750px;
          text-align: center;
          display: flex;
          justify-content: space-between;
          a {
            text-decoration: none;
            color: #3CCACE;
            display: block;
            &:hover {
             border-bottom: 1px solid #3CCACE;
            }
          }
        }
    
        &__recommend {
          max-width: 750px;
          &--subtitle {
            padding: 20px 0 ;
            h2 {
              text-align: left;
              color: #3CCACE;
              font-size: 20px;
              font-weight: bold;
            }
          }
          .lists {
            margin: 26px auto;
            display: flex;
            justify-content: start;
            &__product {
              background-color: #fff;
              width: 220px;
              display: inline-block;
              &:hover {
                opacity: 0.5;
              }
              img {
                height: 150px;
              }
              .product__detail {
                background-color: white;
                color: #333;
                padding: 16px;
                &--name {
                  text-align: left;
                }
                ul {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .product__detail--price {
                    font-weight: bold;
                  }
                  .product__detail--likeButton {
                    a {
                      text-decoration: none;
                      color: #333;
                    }
                  }
                }
                &--tax {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  .bottomBanner {
    background-image: image-url("pict/bg-appBanner-pict.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    &__content {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      p {
        font-size: 35px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .dlButton {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        @include app-g__icon
      }
    }
    
  }

  footer {
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
    .footer__content {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      .menu__lists {
        display: flex;
        justify-content: space-around;
        &--list {
          h3 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
          }
          ul {
            list-style: none;
            li {
              a {
                color: #fff;
                text-decoration: none;
                font-size: 12px;
                line-height: 32px;
                &:hover {
                  border-bottom: 1px solid #fff;
                }
              }
            }
          }
        }
      }
    }
    .footer__logo {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
        img {
          width: 100%;
          vertical-align: bottom;
        }
    }
  }

  .fixedButton {
    color: #fff;
    background: #3CCACE;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    width: 120px;
    height: 120px;
    bottom: 30px;
    right: 30px;
    p {
      margin: 13px 0 10px 0;
    }
    img {
      width: 50px;
    }
    &:hover {
      opacity: 80%;
    }
  }
}