#items-new, #items-create, #items-edit, #items-update {
  * {
    box-sizing: border-box;
  }

  ::placeholder {
    color: gray;
  }

  @mixin logo() {
    width: 100vw;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
      width: 200px;
      height: 50px;
      display: block;
      img {
        width: 100%;
      }
    }
  }
  @mixin title_info() {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 2px 3px;
    border-radius: 3px;
  }
  @mixin input_form() {
    font-size: 14px;
    padding: 5px 10px;
    border: rgb(216, 216, 216) solid 1px;
    border-radius: 3px;
  }

  .SellingPage {
    width: 100vw;
    background-color: #f8f8f8;
    &__header {
      @include logo();
    }
    &__content {
      width: 100vw;
      display: flex;
      justify-content: center;
      &__form {
        width: 700px;
        padding: 40px 0;
        background-color: white;
        .Underline {
          height: 30px;
          width: 100%;
          border-top: #f8f8f8 solid 2px;
        }
        .FormField {
          width: 100%;
          height: 100%;
          padding: 0 35px;
          margin-bottom: 20px;
          h1 {
            font-size: 14px;
            color: rgb(100, 100, 100);
            margin-bottom: 15px;
          }
          &__label {
            width: 100%;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__title {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              &__name{
                font-size: 14px;
                font-weight: bold;
                color: rgb(43, 43, 43);
              }
              &--must{
                background-color: rgb(235, 50, 50);
                @include title_info();
              }
              &--free{
                background-color: rgb(145, 145, 145);
                @include title_info();
              }
            }
            &__price {
              width: 350px;
              height: 40px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              font-size: 14px;
              &__value {
                width: 200px;
                height: 40px;
                margin-left: 5px;
                text-align: end;
                @include input_form();
              }
            }
          }
          &__input {
            display: flex;
            align-items: flex-end;
            &--short {
              @include input_form();
              width: 100%;
              height: 40px;
            }
            &--long {
              @include input_form();
              width: 100%;
              height: 120px;
            }
          }
          #category_box {
            display: block;
          }
          &__input {
            display: flex;
            align-items: flex-end;
            .pulldown {
              width: 100%;
              .FormField__input--short {
                @include input_form();
                width: 100%;
                height: 40px;
                margin-bottom: 5px;
              }
            }
          }
        }
        .Submit {
          width: 100%;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          &__btn {
            background-color:#3ccace;
            color: white;
            font-weight: bold;
            width: 350px;
            height: 50px;
            text-align: center;
            font-size: 18px;
            border: none;
            border-radius: 3px;
            &:hover {
              opacity: 0.5;
            }
          }
        }
        .Notice {
          padding: 0 40px;
          font-size: 8px;
          color: rgb(83, 83, 83);
          text-align: left;
        }
      }
    }
    &__footer {
      @include logo();
    }
  }
}

//image投稿欄のCSS
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 100%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  //file_fieldのcss
  .hidden-content {
    .hidden-field {
      // display: none;
    }
    .hidden-checkbox {
      // display: none;
    }
  }
}