#welcome-mypage, #welcome-signout, #welcome-index, #purchases-index, #addresses-edit, #cards-new, #cards-show {
  * {
    box-sizing: border-box;
  }

  .UserMyPage{
    width: 100vw;
    display: flex;
    justify-content: center;
    &__content {
      width: 100%;
      background-color: #f8f8f8;
      padding: 50px;
      display: flex;
      justify-content: flex-start;
      &__sidebar {
        width: 280px;
        height: 100%;
        margin-right: 50px;
        .PageTitle {background-color: rgb(230, 230, 230);}
        .link {
          height: 50px;
          display: flex;
          align-items: center;
          background-color: white;
          justify-content: space-between;
          padding: 0 20px;
          border-bottom: solid 2px #f8f8f8;
          &:hover {opacity: 0.2;}
          .text {
            font-size: 14px;
            color: rgb(95, 95, 95);
            width: 250px;
            text-decoration: none;
          }
        }
      }
      &__main {
        width: 100%;
        padding-bottom: 300px;
        background-color: white;
        display: flex;
        justify-content: center;
        .SignoutButton {
          display: flex;
          align-items: center;
          &__btn {
            width: 400px;
            height: 50px;
            padding: 7px 0 ;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            background-color: #3CCACE;
            text-align: center;
            &:hover {opacity: 0.6;}
          }
        }
      }
    }
  }
}