#user-sessions-create {
  * {
    box-sizing: border-box;
  }

  ::placeholder {
    color: gray;
  }

  .LoginPage {
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;
  }

  @mixin logo() {
    width: 100vw;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
      width: 200px;
      height: 50px;
      display: block;
      img {
        width: 100%;
      }
    }
  }
  @mixin title_info() {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 2px 3px;
    border-radius: 3px;
  }
  @mixin input_form() {
    font-size: 14px;
    padding: 5px 10px;
    border: rgb(216, 216, 216) solid 1px;
    border-radius: 3px;
  }

  .SellingPage {
    width: 100vw;
    background-color: #f8f8f8;
    &__header {
      @include logo();
    }
    &__content {
      width: 100vw;
      display: flex;
      justify-content: center;
      &__form {
        width: 700px;
        padding: 40px 0;
        background-color: white;
        .Underline {
          height: 30px;
          width: 100%;
          border-top: #f8f8f8 solid 2px;
        }
      }
    }
  }
}