!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .Maincontents
      .Rogo-header
        FURIMA
      .Touroku
        .Touroku-Sections
          .Touroku-Section
            .kaiintouroku
              新規会員登録
          .Mainform-Section
            .Mailform
              メールアドレスで登録する