.all{
  background-color: #f8f8f8;

  .data{
    overflow: scroll;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;

    .gaiyou{
      font-size: 30px;
      border-bottom: 1px solid;
      border-color: #f8f8f8;
      height: 80px;
      display:flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    .nyuuryokuform{
      padding: 0 20px;

      .nickname{
        margin: 0 auto;
        width: 80%;
        &_label{
          margin: 36px 0 18px 0;
          font-weight: bold;
          font-size: small;
          .form-require{
            background-color: red;
            border-width: 0;
            border-radius: 4px;
            padding: 2px;
            color: #fff;
          }
        }
        &_field{
          display: flex;
          justify-content: space-between;
          .text_region{
            width: 80%;
          }
        }
      }

      .email{
        margin: 0 auto;
        width: 80%;
        &_label{
          margin: 36px 0 18px 0;
          font-weight: bold;
          font-size: small;
          .form-require{
            background-color: red;
            border-width: 0;
            border-radius: 4px;
            padding: 2px;
            color: #fff;
          }
        }
        &_field{
          .text_region{
            width: 80%;
          }
        }
      }

      .password{
        margin: 0 auto;
        width: 80%;
        &_label{
          margin: 36px 0 18px 0;
          font-weight: bold;
          font-size: small;
          .form-require{
            background-color: red;
            border-width: 0;
            border-radius: 4px;
            padding: 2px;
            color: #fff;
          }
        }
        &_field{
          width: 80%;
          .text_region{
            width: 100%;
            margin-left: -20px;
          }
        }
        &_sai_label{
          margin: 36px 0 18px 0;
          font-weight: bold;
          font-size: small;
          .form-require{
            background-color: red;
            border-width: 0;
            border-radius: 4px;
            padding: 2px;
            color: #fff;
          }
        }
        &_sai_field{
          .text_region{
            width: 80%;
          }
        }
      }

      .name_kanji{
        margin: 0 auto;
        &_label{
          margin: 36px 0 18px 0;
          font-weight: bold;
          font-size: small;
          .form-require{
            background-color: red;
            border-width: 0;
            border-radius: 4px;
            padding: 2px;
            color: #fff;
          }
        }
        &_field{
          width: 80%;
        }
      }

      .name_kana{
        width: 80%;
        margin: 0 auto;
        &_label{
          margin: 36px 0 18px 0;
          font-weight: bold;
          font-size: small;
          .form-require{
            background-color: red;
            border-width: 0;
            border-radius: 4px;
            padding: 2px;
            color: #fff;
          }
        }
        &_field{
          width: 80%;
          margin: 0 0 18px 0;
        }
      }

      .honnin{
        width: 80%;
        margin: 0 auto;
        .ansin{
          word-wrap: normal;
          text-align: left;
          width: 80%;
        }
      }

      .birth{
        margin: 0 57.953px 0 57.953px;
        &_label{
          margin: 36px 0 18px 0;
          font-weight: bold;
          font-size: small;
          .form-require{
            background-color: red;
            border-width: 0;
            border-radius: 4px;
            padding: 2px;
            color: #fff;
          }
        }
        &_sentaku_field{
          margin-bottom: 18px;
        }
      }
    }

    .actions{
      text-align: center;
      .tugiesusumu{
        box-sizing:border-box;
        width: 25%;
        background-color: #3CCACE;
        border-width: 0;
        border-radius: 4px;
        padding: 10px;
        color: #fff;
      }
    }
  }
}