@import "reset";
@import "modules/welcome";
@import "modules/sidebar";
@import "modules/mypage-sell";
@import "modules/mypage-buy";
@import "modules/items";
@import "modules/cards";
@import "modules/confirm";
@import "modules/show-card";
@import "modules/shared";
@import "modules/address";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rogin,new_sinkikaiin,new_address.scss";
@import "modules/sell";
@import "modules/category";

.notifications {
  color: white;
  text-align: center;  

  .notice {
    background-color: #17b7ea;
  }

  .alert {
    background-color: #f44336;
  }
}
