.header{
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  width: 700px;
}

.data{
  width: 700px;
  margin: 0 auto;
}

.field{
  text-align: center;
  margin: 8px 0 0;
}

.actions{
  text-align: center;
}